


Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/Animation/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/visualisation/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/saved_models/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/Matrix/
Breath_dataset_and_apps/code/brp-ml-model-main/data

# Ignorowanie folderów wandb
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/wandb/

# Dodatkowo pliki tymczasowe Pythona
*.pyc
__pycache__/

# VS Code
.vscode/