


Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/Animation/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/visualisation/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/models/saved_models/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/models/mobile_models/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/Matrix/
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/SavedData/
Breath_dataset_and_apps/code/brp-ml-model-main/data
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/venv_streamlit/
# Ignorowanie folderów wandb
Breath_dataset_and_apps/code/brp-ml-model-main/models/Pytorch/wandb/

# Dodatkowo pliki tymczasowe Pythona
*.pyc
__pycache__/

# VS Code
.vscode/